@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pairing-col .pairing:nth-child(even) {
  anchor-name: --my-anchor-2;
}

.pairing-col .pairing {
  anchor-name: --my-anchor-1;

}



.pairing-col .four {
  anchor-scope: --my-anchor-2, --my-anchor-1;
    display:contents;
}

.pairing-col:not(:last-child) .pairing:after{
  content:"";
  display:block;
  border-color: var(--foreground);
  border-width:2px 2px 2px 0;
  position: absolute;
  top: anchor(--my-anchor-1 center); /* Align the target's top to the bottom of anchor one */
  bottom: anchor(--my-anchor-2 center);
  right: calc(anchor(--my-anchor-1 right) - .5rem);
  left: anchor(--my-anchor-1 right);
}


.pairing-col .pairing:before {
   content:"";
  display:block;
  border-color: var(--foreground);
  border-width:1px;
  position: absolute;   
      top: anchor(--my-anchor-1 center); /* Align the target's top to the bottom of anchor one */
  bottom: anchor(--my-anchor-1 center);
    right:anchor(--my-anchor-1 left);
  left:  calc(anchor(--my-anchor-1 left) - .25rem);
}
.pairing-col .pairing:nth-child(even):before {
      top: anchor(--my-anchor-2 center); /* Align the target's top to the bottom of anchor one */
  bottom: anchor(--my-anchor-2 center);
    right:anchor(--my-anchor-2 left);
  left:  calc(anchor(--my-anchor-2 left) - .25rem);
}